/* Home Grid (Responsive 1 -> 3 cols) */
.homeGrid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    margin: 3rem auto 0;
}

@media (min-width: 768px) {
    .homeGrid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, minmax(220px, auto));
    }

    .colSpan2 {
        grid-column: span 2;
    }

    .colSpan1 {
        grid-column: span 1;
    }
}